<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.isa.kapilanguagelearning">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KapiLanguageLearning"
        tools:ignore="AllowBackup">
        <activity android:name="com.isa.kapilanguagelearning.general.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.isa.kapilanguagelearning.general.WelcomeActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.general.CreateAccountActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.general.LostPasswordActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.general.ProfileActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.general.AboutAppActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.general.AboutUserActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.general.LanguageSelectorActivity"/>

        <activity android:name="com.isa.kapilanguagelearning.german.LearningSelectorGermanActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.FactsGermanActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanVerbForms.VerbFormsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.VisitablePlacesGermanActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.DetailActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanVerbForms.PresentGermanActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanVerbForms.PastGermanActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanVerbForms.FutureGermanActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.StartLearningGermanActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanChatBot.GermanChatBotActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.QuizGermanResultBadActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanBasic.GermanBasicTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanFood.GermanFoodTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanFood.GermanFoodActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanFood.GermanFoodResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanAnimals.GermanAnimalsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanAnimals.GermanAnimalsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanAnimals.GermanAnimalsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanFamily.GermanFamilyTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanFamily.GermanFamilyActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanFamily.GermanFamilyResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanHouse.GermanHouseTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanHouse.GermanHouseActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanHouse.GermanHouseResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanBody.GermanBodyTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanBody.GermanBodyActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanBody.GermanBodyResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanColors.GermanColorsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanColors.GermanColorsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanColors.GermanColorsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanNumbers.GermanNumbersTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanNumbers.GermanNumbersActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanNumbers.GermanNumbersResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanTime.GermanTimeTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanTime.GermanTimeActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanTime.GermanTimeResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanDate.GermanDateTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanDate.GermanDateActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanDate.GermanDateResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanDirections.GermanDirectionsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanWeather.GermanWeatherTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanWeather.GermanWeatherActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanWeather.GermanWeatherResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanObjects.GermanObjectsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanObjects.GermanObjectsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanObjects.GermanObjectsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanOccupations.GermanOccupationsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanOccupations.GermanOccupationsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.german.germanOccupations.GermanOccupationsResultActivity"/>

        <activity android:name="com.isa.kapilanguagelearning.spanish.LearningSelectorSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.FactsSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishVerbForms.VerbFormsSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishVerbForms.PresentSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishVerbForms.PastSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishVerbForms.FutureSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.VisitablePlacesSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.DetailActivitySpanish"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.StartLearningSpanishActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.QuizSpanishResultBadActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishChatBot.SpanishChatBotActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishBasic.SpanishBasicTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishFood.SpanishFoodActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishFood.SpanishFoodTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishFood.SpanishFoodResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishAnimals.SpanishAnimalsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishAnimals.SpanishAnimalsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishAnimals.SpanishAnimalsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishFamily.SpanishFamilyActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishFamily.SpanishFamilyTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishFamily.SpanishFamilyResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishHouse.SpanishHouseResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishHouse.SpanishHouseTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishHouse.SpanishHouseActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishBody.SpanishBodyTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishBody.SpanishBodyResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishBody.SpanishBodyActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishColors.SpanishColorsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishColors.SpanishColorsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishColors.SpanishColorsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishNumbers.SpanishNumbersTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishNumbers.SpanishNumbersResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishNumbers.SpanishNumbersActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishTime.SpanishTimeTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishTime.SpanishTimeResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishTime.SpanishTimeActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishDate.SpanishDateTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishDate.SpanishDateResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishDate.SpanishDateActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishDirections.SpanishDirectionsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishWeather.SpanishWeatherTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishWeather.SpanishWeatherResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishWeather.SpanishWeatherActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishObjects.SpanishObjectsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishObjects.SpanishObjectsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishObjects.SpanishObjectsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishOccupations.SpanishOccupationsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishOccupations.SpanishOccupationsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.spanish.spanishOccupations.SpanishOccupationsActivity"/>

        <activity android:name="com.isa.kapilanguagelearning.romanian.LearningSelectorRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.FactsRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianVerbForms.VerbFormsRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianVerbForms.PresentRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianVerbForms.PastRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianVerbForms.FutureRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.VisitablePlacesRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.DetailActivityRomanian"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.StartLearningRomanianActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianChatBot.RomanianChatBotActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.QuizRomanianResultBadActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianBasic.RomanianBasicTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianFood.RomanianFoodActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianFood.RomanianFoodResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianFood.RomanianFoodTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianAnimals.RomanianAnimalsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianAnimals.RomanianAnimalsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianAnimals.RomanianAnimalsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianFamily.RomanianFamilyTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianFamily.RomanianFamilyResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianFamily.RomanianFamilyActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianHouse.RomanianHouseTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianHouse.RomanianHouseResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianHouse.RomanianHouseActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianBody.RomanianBodyTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianBody.RomanianBodyResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianBody.RomanianBodyActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianColors.RomanianColorsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianColors.RomanianColorsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianColors.RomanianColorsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianNumbers.RomanianNumbersTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianNumbers.RomanianNumbersResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianNumbers.RomanianNumbersActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianTime.RomanianTimeTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianTime.RomanianTimeActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianTime.RomanianTimeResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianDate.RomanianDateTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianDate.RomanianDateResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianDate.RomanianDateActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianDirections.RomanianDirectionsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianWeather.RomanianWeatherTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianWeather.RomanianWeatherResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianWeather.RomanianWeatherActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianObjects.RomanianObjectsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianObjects.RomanianObjectsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianObjects.RomanianObjectsActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianOccupations.RomanianOccupationsTrainingActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianOccupations.RomanianOccupationsResultActivity"/>
        <activity android:name="com.isa.kapilanguagelearning.romanian.romanianOccupations.RomanianOccupationsActivity"/>
    </application>
</manifest>